<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.SmartDG.ui.commands"
            name="SmartDGCommands">
      </category>
      <command
            defaultHandler="org.smartdg.ui.CreateNewDGModelHandler"
            id="org.SmartDG.ui.newDGModel"
            name="Create New DG Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="org.SmartDG.ui.newDGModel"
               icon="icons/SmartDGicon.png"
               label="Create new DG Model"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="org.SmartDG.ui.menuContribution3">
      </menuContribution>
   </extension>

</plugin>
