<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.smartdg.dsl.view.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="SmartMDSD_Dependency_Graph_Extension"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="SmartMDSD_Dependency_Graph_Extension">
         <property
               name="appName"
               value="SmartMDSD_Dependency_Graph_Extension">
         </property>
      </product>
   </extension>

</plugin>
